{
  "production": {
    "steamUsername": "yoursteamusername",
    "steamPassword": "yoursteampassword",
    "botName": "MostlyHuman",
    "botState": "online",
    "botAdmins": ["76561198020275445"],
    "listenToCalls": ["Cleverbot", "MostlyHuman", "AlmostHuman", "bot"],
    "defaultJoinMessage": "Hi! I'm MostlyHuman, a clever chat bot. I'm ready to talk with you!",
    "autoJoin": {
      "76561198020275445": "Hi, my creator!",
      "103582791434429200": "Hi! Your favorite bot is here and ready to talk with you!"
    }
  },
  "staging": {
    "steamUsername": "yoursteamusername",
    "steamPassword": "yoursteampassword",
    "botName": "MostlyHuman Test",
    "botState": "online",
    "botAdmins": ["76561198020275445"],
    "listenToCalls": ["2bot"],
    "defaultJoinMessage": "Hi! I'm MostlyHuman, a clever chat bot. I'm ready to talk with you!",
    "autoJoin": {
      "76561198020275445": "Hi, my creator!"
    }
  }
}